<!--Header component display-->
<!--old navigation approach using ngIf-->
<!-- <app-header (featureSelected)="onNavigate($event)"></app-header> -->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--It was used before implementing the routes-->
      <!-- <receipes-component *ngIf="loadedFeature === 'recipe'"></receipes-component>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list> -->
      <!--Loading the routes-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>